<!DOCTYPE html>
<html>
  <head>
    <title>fortune teller</title>
  </head>

  <body>
    <h1>choose your sign</h1>
    <form method="post">
      <select name="user_astrological_sign" onChange="this.form.submit()">
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
        <option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
        <option value="Capricorn">Capricorn</option>
        <submit value="submit">Submit</submit>
      </select>
      <input type="submit" value="submit">
  </form>
  </body>
</html>
