body {
  background: #e5e5e5;
}

h1 {
  color: #7cb27e;
  font-family: monospace;
}

p {
  color: #d394f7;
}

ul {
  background: #efbdd1;
}

.title {
  font-size: 60px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div {
  border: 1px dotted red;
  background: #DDD;
  padding: 20px 10px 20px 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.container div.special {
  width: 200px;
  height: 150px;
}

#yum {
  border: 1px solid black;
}

#check {
  height: 25px;
}
