body {
  background: #e5e5e5;
}

h1 {
  color: #7cb27e;
}

p {
  color: #d394f7;
}

ul {
  background: #efbdd1;
}

.title {
  font-size: 60px;
  font-weight: 600;
}

#yum {
  border: 1px solid black;
}
